<a href="https://colab.research.google.com/github/SpivakAG/PythonHW11/blob/main/%D0%94%D0%97_%D0%BA_%D1%81%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%80%D1%83_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание

Проанализировать датасет по цветам ириса:


*   Сколько в нем строк и столбцов?
*   Сколько сортов ириса (следует выбрать столбец и использовать метод **unique**)?
*   Есть ли пустые значения?
*   Максимальное значение **sepal_width**.
*   Минимальное значение **sepal_length**.
*   Среднее значение **petal_width**.
*   Вывести общую таблицу описательной статистике.

Выполненное задание следует загрузить на ***платформу***

**sepal_length** - Длина чашелистика цветка

**sepal_width** - Ширина чашелистика цветка

**petal_length** - Длина лепестка

**petal_width** - Ширина лепестка

**species** - Сорт цветка

In [ ]:
# Стартовый код
import seaborn as sns
import pandas as pd

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

***Выполнение ДЗ:***

In [ ]:
#Сколько в нем строк и столбцов?
df.shape

(150, 5)

In [ ]:
#Сколько сортов ириса (следует выбрать столбец и использовать метод unique)?
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
#Есть ли пустые значения?
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
#Максимальное значение sepal_width.
df['sepal_width'].max()

4.4

In [ ]:
#Минимальное значение sepal_length.
df['sepal_length'].min()

4.3

In [ ]:
#Среднее значение petal_width.
df['petal_width'].mean()

1.1993333333333336

In [ ]:
#Вывести общую таблицу описательной статистике.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB